# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Reports
reports/*
!reports/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Environment Variables
.env

# Jupyter Notebooks (If you use them for testing data before Streamlit)
.ipynb_checkpoints/

# Logs
*.log

#Streamlit api folder
.streamlit/